<mat-toolbar
  class="mat-toolbar-header-row"
  color="primary"
>
<mat-toolbar-row>
  <div>
    <button mat-icon-button color="" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/images/logo_fda.png" class="img-fluid" />
  </div>
  <div >
      <button
      mat-button
      class="logo"
      routerLink="dashboard"
      routerLinkActive="active"
    >
    <div >
      <div class="ml-1"><b> CDER Dashboard</b></div>
    </div>
    </button>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon
        matBadgeColor="warn"
        aria-label="account-button"
        routerLink="help"
        matTooltip="Help"
        >help_outline</mat-icon
      >
    </button>
    <button mat-icon-button>
      <mat-icon matBadge="0" matBadgeColor="warn" aria-label="account-button"
        >notifications</mat-icon
      >
    </button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
