.logo{
  /*color: #86bc25;*/
  font-size: large;
  /* border-radius: 20px; */
}
.fda-header {
  background-color: #323232!important;

}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.mat-toolbar-header-row{
  height: 54px!important;
}

.mat-toolbar-single-row {
  height: 44px;
}
.menu-color{
  color : #c6cdd4;
  background: #06d6ba;
  border: 1px;
  border-color: #000000;
}
