
::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: #B8B5B5;
}

.main-content {
  margin-top: 2%;
  margin-left:  2%;
  margin-right:  2%;
  margin-bottom: 10%;
}

.sidenavbulletcolor{
  color: #629aff;
}

.mat-drawer-container {
  background: #F2F4F5;
  color: rgba(0, 0, 0, 0.87);
}

.mat-drawer {
  background: #044f5c;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 70px;
}

.active{
  background-color: rgb(208, 238, 238);
  border-radius: 0px;
}

.sidenav-cont-main {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.mat-subheader {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  align-items: center;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.mat-expansion-panel {
  background: #044f5c;
  color: grey;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
}

.mat-nav-list[_ngcontent-c0] .mat-list-item{
  color: grey;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  padding-left: 15px;
}

.mat-expansion-panel-header-title {
  color:rgb(184, 181, 181);
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background: rgb(100, 154, 235, .5);
}

.active[_ngcontent-c0] {
  background-color:#044f5c;
  border-radius: 4px;
  color: white!important;
}

.active-list-item {
  background-color:#044f5c;
  border-radius: 0px;
  color: white;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
box-shadow: none;
}
