<app-toolbar >
</app-toolbar>
<mat-sidenav-container class="sidenav-cont-main">
  <mat-sidenav #sidenav mode="side" opened="{{showSideNav}}" [fixedInViewport]="false" [fixedTopGap]="0"
    [fixedBottomGap]="0" style="min-width: 200px;">
    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>dashboard</mat-icon>
              <h4 class="ml-1">Dashboard & Metrics</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item routerLink="dashboard" routerLinkActive="active">
              <mat-icon class="sidenavbulletcolor" style="font-size:x-small">lens</mat-icon> <h5 class="ml-1">Dashboard </h5>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>