<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="accent">track_changes</mat-icon>
    </div>
    <mat-card-title>
      <h2>Relationship Graph</h2>
    </mat-card-title>
    <mat-card-subtitle> Relationships between different facilities </mat-card-subtitle>
    </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section class="ppt-section-main">

      <div class="ppt-container-graph">
          <nav id="popoto-taxonomy" class="ppt-taxo-nav">
              <!-- Label/taxonomy filter will be generated here -->
          </nav>
          <div id="popoto-graph" class="ppt-div-graph" #popotoGraph>
              <!-- Graph will be generated here-->
          </div>
      </div>
  
      <div id="popoto-query" class="ppt-container-query">
          <!-- Query viewer will be generated here -->
      </div>
  
      <div id="popoto-cypher" class="ppt-container-cypher">
          <!-- Cypher query viewer will be generated here -->
      </div>
  
      <div class="ppt-section-header">
          <!-- The total results count is updated with a listener defined below -->
          RESULTS <span id="result-total-count" class="ppt-count"></span>
      </div>
  
      <div id="popoto-results" class="ppt-container-results">
          <!-- Results will be generated here -->
      </div>
  
  </section>
  </mat-card-content>
</mat-card>
<br><br>
<br><br>
