
// @import url( 'https://fonts.googleapis.com/css?family=Nanum+Gothic|Material+Icons');
@import '~@angular/material/theming';
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot"; // Import Roboot
@import "~bootstrap/scss/grid"; // add the grid
@import "~bootstrap/scss/utilities"; // add css utilities
@import "reset";
@include mat-core();

// body [class^='mat-'], body [class*=' mat-'] {
//   font-family:url( 'https://fonts.googleapis.com/css?family=Nanum+Gothic|Material+Icons')!important;
// }
// FDA header color #323232

// ::ng-deep mat-tab-label-active {
//   background-color: red;
// }

// .mat-tab_color {
//     background: rgb(171, 217, 243);
//     color: rgba(0, 0, 0, 0.87);
//   }

// md-tab-group {
//   background-color: #b3c1cb;
// }
// .mat-tab-body-wrapper {
//   color: rgb(0, 0, 0);
//   background: rgb(171, 217, 243);
// }
// .mat-tab-label.mat-tab-label-active {
//   background-color: #ffffff;
// }

$fda-blue: (
    50 : #e0e6ea,
    100 : #b3c1cb,
    200 : #8098a8,
    300 : #4d6e85,
    400 : #264f6b,
    500 : #003051,
    600 : #002b4a,
    700 : #002440,
    800 : #001e37,
    900 : #001327,
    A100 : #629aff,
    A200 : #2f7aff,
    A400 : #005afb,
    A700 : #0051e1,
    contrast: (
        50 : #000000,
        100 : #323232,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$janus-primary: mat-palette($fda-blue, 400, 50, 200);
$janus-accent:  mat-palette($mat-light-green, 500);
$janus-warn:    mat-palette($fda-blue, A200, 50, 200);
$janus-header:  mat-palette($fda-blue, 100);
$janus-bullet:  mat-palette($fda-blue, 400, 50, 200);


$admin-ui-theme: mat-light-theme($janus-primary, $janus-accent, $janus-warn);

@include angular-material-theme($admin-ui-theme);



